# env & cache
.venv/
env/
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# data local
data/
*.xlsx
*.xls

# outputs
artifacts_eda/
featuredselect/
artifacts_models/

# plots & reports
*.pdf
*.png
*.xlsx
